<!doctype html>
<html lang='en'>

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Data Center Mockup">
    <meta name="author" content="Frank Sullivan">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>Content Preview Container mockup for Data Center</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/container.css">
</head>

<body>
<div class="row">
	<div class="col-md-12">
	<h1>?</h1>
	</div>
</div>
<article class="detail">
<div class="row">
<div class="col-md-2">
	<a href="http://www.datacenterresearch.org/reports_analysis/economic-ties-across-southeast-louisiana/">
	<img alt="Economic Ties across Southeast Louisiana: Preliminary findings from commuter data" src="../images/LaborFlowMap.png"></a>
</div>
<div class="col-md-7">
	<h3>
		<a href="http://www.datacenterresearch.org/reports_analysis/economic-ties-across-southeast-louisiana/">Economic Ties across Southeast Louisiana: Preliminary findings from commuter data</a>
	</h3>
</div>
</div>
</article>


</body>
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/jquery-1.11.1.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/typeahead.bundle.js"></script>
    <script src="../js/typeahead.jquery.js"></script>
    <script src="../js/site2.js"></script>
</html>