<div id="lakeview-intro"class="neighborhood-data"> 
  <h1>Lakeview Statistical Area</h1>
    <div class="breadcrumbs" style="margin-top: 1em; margin-bottom: 1em;">Neighborhood Data: <a href="http://www.datacenterresearch.org/data-resources/neighborhood-data/">Orleans Parish</a> > <a href="http://www.datacenterresearch.org/data-resources/neighborhood-data/district-5/">Lakeview District 5</a> >Lakeview
    </div>
    <p class="date-published">Last update: Mar 28, 2014</p>
    <h2><strong>Overview:</strong> People &amp; Household Characteristics</h2>
    <p><strong>Which number do you need?</strong> There are many ways to look at household characteristics. To get a more complete perspective, we recommend you take a look at households by type and also view data on the types of households that children and the elderly live in. Note, we have chosen to look at &#8220;households&#8221; rather than &#8220;families&#8221; because of the Census&#8217; narrow definition of &#8220;family.&#8221;</p></br>
    <h2>About this Data</h2>
    <p>Finding the information you need within long rows of numbers is a tricky task, even under the best of conditions. The task has become harder since the Census Bureau began using a new method for providing important neighborhood data like income, poverty, and educational attainment that is averaged over five years and has large margins of error.</p>
    <p>For this reason, we’ve added a variety of notes to these data tables and the definition of each indicator. Our aim is to explain details of the data that are sometimes misleading and to point you to additional information that you may find useful for program planning and grantwriting.</p>
</div>

<div id="total_pop" class="neighborhood-data">
  <h2>Total Population
  <button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')"><span class="glyphicon glyphicon-download"></span></button>
  <button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')"><span class="glyphicon glyphicon-share"></span></button></h2>
  <p><strong>What&#8217;s the difference between households and families? </strong>The Census definition of family is people living together who are &#8221;related&#8230; by birth, marriage, or adoption.&#8221; In contrast, the definition of household is &#8221;all the persons who occupy a housing unit.&#8221;</p>
  <table border="0" cellspacing="0" cellpadding="0">
  <thead>
  <tr>
  <th>Population</th>
  <td colspan="2">Lakeview</td>
  <th colspan="2">Orleans Parish</th>
  <th colspan="2">United States</th>
  </tr>
  <tr>
  <th>Total numbers</th>
  <th>2000</th>
  <th>2010</th>
  <th>2000</th>
  <th>2010</th>
  <th>2000</th>
  <th>2010</th>
  </tr>
  </thead>
  <tbody>
  <tr>
<td class="table-row-title">Population</td>
<td>9,875</td>
<td>6,394</td>
<td>484,674</td>
<td>343,829</td>
<td>281,421,906</td>
<td>308,745,538</td>
</tr>
<tr>
<td class="table-row-title">Total households</td>
<td>4,524</td>
<td>2,672</td>
<td>188,251</td>
<td>142,158</td>
<td>105,480,101</td>
<td>116,716,292</td>
</tr>
<tr>
<td class="table-row-title">Family households</td>
<td>2,657</td>
<td>1,566</td>
<td>112,977</td>
<td>76,643</td>
<td>71,787,347</td>
<td>77,538,296</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation</strong>: GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>
<span class="definitions">

<h2>Definitions</h2>
<p><strong>Population:</strong> All people, male and female, child and adult, living in a given geographic area.</p>
<p><strong>Total households:</strong> A household includes all of the people who occupy a housing unit. A housing unit is a house, apartment, or mobile home. The occupants may be a single family, one person living alone, two or more families living together, or any other group of related or unrelated people who share living quarters. People living in group quarters are not considered to be living in households. Group quarters includes institutions such as prisons, military barracks, nursing homes, and juvenile institutions.</p>

<p><strong>Family households:</strong> A family includes a head of household and one or more other people living in the same household who are related to the householder by birth, marriage, or adoption. All people in a household who are related to the householder are regarded as members of his or her family. A household can contain only one family for purposes of census tabulations. Not all households contain families since a household may be a group of unrelated people or one person living alone.
</p></span>

</div><!-- // population -->

<div id="pd6_gender" class="neighborhood-data">
<h2>Gender<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button></h2> 
<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<th></th>
<td colspan="2">Lakeview</td>
<th colspan="2">Orleans Parish</th>
<th colspan="2">United States</th>
</tr>
<tr>
<th class="table-row-title">Gender</th>
<th>2000</th>
<th>2010</th>
<th>2000</th>
<th>2010</th>
<th>2000</th>
<th>2010</th>
</tr>
</thead>
<tbody>
<tr>
<td class="table-row-title">Female</td>
<td>54.3%</td>
<td>51.6%</td>
<td>53.1%</td>
<td>51.6%</td>
<td>50.9%</td>
<td>50.8%</td>
</tr>
<tr>
<td class="table-row-title">Male</td>
<td>45.7%</td>
<td>48.4%</td>
<td>46.9%</td>
<td>48.4%</td>
<td>49.1%</td>
<td>49.2%</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation:</strong> GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>

<span class="definitions">

<h2>Definitions</h2>
<p><strong>Female:</strong> The percent of the total population that is female. Individuals were asked to mark either “male” or “female” to indicate their sex.</p>

<p><strong>Male:</strong> The percent of the total population that is male. Individuals were asked to mark either “male” or “female” to indicate their sex.</p>

</span>
</div>
<div id="pd6_age" class="neighborhood-data">
<h2>Age<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button></h2> 
<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<td></td>
<td colspan="2">Lakeview</td>
<td colspan="2">Orleans Parish</td>
<td colspan="2">United States</td>
</tr>
<tr>
<td class="table-row-title">Age</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
</tr>
</thead>
<tbody>
<tr>
<td class="table-row-title">5 years old and under</td>
<td>7.6%</td>
<td>8.7%</td>
<td>8.4%</td>
<td>7.6%</td>
<td>8.2%</td>
<td>7.9%</td>
</tr>
<tr>
<td class="table-row-title">6-11 years old</td>
<td>6.2%</td>
<td>6.9%</td>
<td>9.2%</td>
<td>6.8%</td>
<td>8.9%</td>
<td>8.0%</td>
</tr>
<tr>
<td class="table-row-title">12-17 years old</td>
<td>6.7%</td>
<td>6.7%</td>
<td>9.1%</td>
<td>6.9%</td>
<td>8.6%</td>
<td>8.2%</td>
</tr>
<tr>
<td class="table-row-title">18-34 years old</td>
<td>21.0%</td>
<td>29.5%</td>
<td>25.9%</td>
<td>29.2%</td>
<td>23.8%</td>
<td>23.2%</td>
</tr>
<tr>
<td class="table-row-title">35-49 years old</td>
<td>26.2%</td>
<td>20.7%</td>
<td>21.9%</td>
<td>19.2%</td>
<td>23.2%</td>
<td>20.7%</td>
</tr>
<tr>
<td class="table-row-title">50-64 years old</td>
<td>13.2%</td>
<td>19.1%</td>
<td>13.8%</td>
<td>19.4%</td>
<td>14.9%</td>
<td>19.0%</td>
</tr>
<tr>
<td class="table-row-title">65-74 years old</td>
<td>7.1%</td>
<td>4.1%</td>
<td>6.0%</td>
<td>6.1%</td>
<td>6.5%</td>
<td>7.0%</td>
</tr>
<tr>
<td class="table-row-title">75-84 years old</td>
<td>8.7%</td>
<td>2.8%</td>
<td>4.2%</td>
<td>3.4%</td>
<td>4.4%</td>
<td>4.2%</td>
</tr>
<tr>
<td class="table-row-title">85 years old and older</td>
<td>3.3%</td>
<td>1.5%</td>
<td>1.5%</td>
<td>1.5%</td>
<td>1.5%</td>
<td>1.8%</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation:</strong> GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>


<span class="definitions">

<h2>Definitions</h2>
<p><strong>5 years old and under:</strong> The percent of the total population that is 5 years old or younger. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>6-11 years old:</strong> The percent of the total population that is 6 to 11 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>12-17 years old:</strong> The percent of the total population that is 12 to 17 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>18-34 years old:</strong> The percent of the total population that is 18 to 34 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>35-49 years old:</strong> The percent of the total population that is 35 to 49 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>50-64 years old:</strong> The percent of the total population that is 50 to 64 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>65-74 years old:</strong> The percent of the total population that is 65 to 74 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>75-84 years old:</strong> The percent of the total population that is 75 to 84 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>85 years old and older:</strong> The percent of the total population that is 85 years old or older. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

</span>
</div>
<div id="pd6_diversity" class="neighborhood-data">
<h2>Racial & Ethnic Diversity<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button></h2>

<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<td></td>
<td colspan="2">Lakeview</td>
<td colspan="2">Orleans Parish</td>
<td colspan="2">United States</td>
</tr>
<tr>
<td>Racial &amp; ethnic diversity</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
</tr>
</thead>
<tbody>
<tr>
<td>Black or African American</td>
<td>.7%</td>
<td>3.4%</td>
<td>66.6%</td>
<td>59.6%</td>
<td>12.1%</td>
<td>12.2%</td>
</tr>
<tr>
<td>White</td>
<td>94.0%</td>
<td>88.2%</td>
<td>26.6%</td>
<td>30.5%</td>
<td>69.2%</td>
<td>63.7%</td>
</tr>
<tr>
<td>Asian</td>
<td>0.7%</td>
<td>1.3%</td>
<td>2.3%</td>
<td>2.9%</td>
<td>3.6%</td>
<td>4.7%</td>
</tr>
<tr>
<td>American Indian</td>
<td>0.1%</td>
<td>0.2%</td>
<td>0.2%</td>
<td>0.2%</td>
<td>0.7%</td>
<td>0.7%</td>
</tr>
<tr>
<td>Other</td>
<td>0.1%</td>
<td>0.2%</td>
<td>0.2%</td>
<td>0.3%</td>
<td>0.3%</td>
<td>0.4%</td>
</tr>
<tr>
<td>2 race categories</td>
<td>0.7%</td>
<td>0.8%</td>
<td>1.0%</td>
<td>1.3%</td>
<td>1.6%</td>
<td>1.9%</td>
</tr>
<tr>
<td>Hispanic (any race)</td>
<td>3.7%</td>
<td>6.0%</td>
<td>3.1%</td>
<td>5.2%</td>
<td>12.5%</td>
<td>16.3%</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation</strong>: GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>

<span class="definitions">

<h2>Definitions</h2>
<p><strong>Black or African American:</strong> The percent of the total population who indicate they consider their race to be “Black, African Am., or Negro.” This percent does not include African Americans who checked “yes” for Hispanic or who checked “yes” for more than one race. It does include those that wrote in entries such as Afro American, Kenyan, Nigerian, or Haitian.</p>

<p><strong>White:</strong> The percent of the total population who indicate they consider their race to be “White.” This percent does not include whites who checked “yes” for Hispanic or who checked “yes” for more than one race. It does include those that wrote in entries such as English, French, Polish, Lebanese, or Arab.</p>

<p><strong>Asian:</strong> The percent of the total population who indicate they consider their race to be “Asian Indian,” “Chinese,” “Filipino,” “Korean,” “Japanese,” “Vietnamese,” and “Other Asian.” This percent does not include Asians who checked “yes” for Hispanic or who checked “yes” for more than one race. It does include those that wrote in entries such as Thai, Laotian, Pakistani, or Indian.</p>

<p><strong>American Indian:</strong> The percent of the total population who indicate they consider their race to be “American Indian or Alaska Native” or wrote in the name of their Indian tribe. This percent does not include those who checked “yes” for Hispanic or who checked “yes” for more than one race.</p>

<p><strong>Other:</strong> The percent of the total population who indicate they consider their race to only be “Some other race.” It includes those that wrote in entries such as multiracial, mixed, or interracial. Respondents who identified with “Native Hawaiian and Other Pacific Islander” were included in this percentage because the numbers were so few in the greater New Orleans area. This percent does not include those who checked “yes” for Hispanic or who checked “yes” for more than one race.</p>

<p><strong>2 race categories:</strong> The percent of the total population who indicate they consider their race to be a combination of two or more of the following race categories: 1) Black, 2) White, 3) American Indian or Alaska Native, 4) Asian, 5) Native Hawaiian and Pacific Islander, and 6) Some other race. This percent does not include those who checked “yes” for Hispanic.</p>

<p><strong>Hispanic (any race):</strong> The percent of the total population who indicate they consider themselves to be “Mexican, Mexican Am., Chicano,” “Puerto Rican,” “Cuban” or “Other Spanish/Hispanic/Latino.” (The Data Center combined ethnicity data with race data so “Hispanic” is comparable to race categories such as “White.” To avoid double-counting people, anybody who checked “Spanish/Hispanic/Latino” under ethnicity was removed from whatever race category they also checked and put into the new category of “Hispanic or Latino (all races).” So, for example, if someone checked “White” as their race and “Hispanic” as their ethnicity, we removed them from the count of “White” people and included them in our new racial category of “Hispanic or Latino.”)</p>
</span>
</div>

<div id="pd6_occupancy" class="neighborhood-data">
<h2>Households by Type<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button></h2>

<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<td></td>
<td colspan="2">Lakeview</td>
<td colspan="2">Orleans Parish</td>
<td colspan="2">United States</td>
</tr>
<tr>
<td>Households by type</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
</tr>
</thead>
<tbody>
<tr>
<td>Total households</td>
<td>4,524</td>
<td>2,672</td>
<td>188,251</td>
<td>142,158</td>
<td>105,480,101</td>
<td>116,716,292</td>
</tr>
<tr>
<td>Female householder (no husband present) with children under 18</td>
<td>5.4%</td>
<td>5.1%</td>
<td>17.7%</td>
<td>13.7%</td>
<td>8.4%</td>
<td>8.5%</td>
</tr>
<tr>
<td>Male householder (no wife present) with children under 18</td>
<td>1.1%</td>
<td>2.0%</td>
<td>2.5%</td>
<td>2.7%</td>
<td>2.4%</td>
<td>2.8%</td>
</tr>
<tr>
<td>Married-couple family, with children under 18</td>
<td>19.7%</td>
<td>22.7%</td>
<td>14.8%</td>
<td>11.1%</td>
<td>24.9%</td>
<td>21.7%</td>
</tr>
<tr>
<td>Nonfamily households, with children under 18</td>
<td>0.1%</td>
<td>0.2%</td>
<td>0.3%</td>
<td>0.2%</td>
<td>0.4%</td>
<td>0.3%</td>
</tr>
<tr>
<td>Households with no people under 18 years</td>
<td>73.7%</td>
<td>70.0%</td>
<td>64.7%</td>
<td>72.3%</td>
<td>63.9%</td>
<td>66.6%</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation:</strong> GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>
<span class="definitions">
<h2>Definitions</h2>
<p><strong>Total households:</strong> A household includes all of the people who occupy a housing unit. A housing unit is a house, apartment, or mobile home. The occupants may be a single family, one person living alone, two or more families living together, or any other group of related or unrelated people who share living quarters. People living in group quarters are not considered to be living in households. Group quarters includes institutions such as prisons, military barracks, nursing homes, and juvenile institutions.</p>

<p><strong>Female householder (no husband present) with children under 18:</strong> The percent of total households that consist of a female head of household with children under 18 years of age related to her by birth, marriage (a stepchild), or adoption, with no husband present.</p>

<p><strong>Male householder (no wife present) with children under 18:</strong> The percent of total households that consist of a male head of household with children under 18 years of age related to him by birth, marriage (a stepchild), or adoption, with no wife present.</p>

<p><strong>Married-couple family, with children under 18:</strong> The percent of total households that consist of a married couple with children under 18 years of age related to the head of household by birth, marriage (a stepchild), or adoption.</p>

<p><strong>Nonfamily households, with children under 18:</strong> The percent of total households that consist of a head of household living with children under 18 years of age not related to the head of household by birth, marriage (a stepchild), or adoption.</p>

<p><strong>Households with no people under 18 years:</strong> The percent of total households that have no children under 18 years of age.</p>

</span>

</div>
<div id="total_pop" class="neighborhood-data">        
<h2>Children in Households<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button></h2>
<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<td></td>
<td colspan="2">Lakeview</td>
<td colspan="2">Orleans Parish</td>
<td colspan="2">United States</td>
</tr>
<tr>
<td>Children in households</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
</tr>
</thead>
<tbody>
<tr>
<td>Population under 18 years in households</td>
<td>2,017</td>
<td>1,427</td>
<td>128,785</td>
<td>72,917</td>
<td>71,970,901</td>
<td>73,920,881</td>
</tr>
<tr>
<td>Children living as head of household</td>
<td>0.1%</td>
<td>0.0%</td>
<td>0.1%</td>
<td>0.1%</td>
<td>0.1%</td>
<td>0.1%</td>
</tr>
<tr>
<td>Children living with mother only</td>
<td>15.1%</td>
<td>12.5%</td>
<td>39.2%</td>
<td>39.6%</td>
<td>18.5%</td>
<td>20.0%</td>
</tr>
<tr>
<td>Children living with father only</td>
<td>2.7%</td>
<td>5.7%</td>
<td>4.7%</td>
<td>6.7%</td>
<td>4.9%</td>
<td>6.2%</td>
</tr>
<tr>
<td>Children living with married parents</td>
<td>77.7%</td>
<td>77.4%</td>
<td>35.9%</td>
<td>34.3%</td>
<td>66.2%</td>
<td>61.5%</td>
</tr>
<tr>
<td>Children living with grandparents</td>
<td>3.2%</td>
<td>2.6%</td>
<td>14.9%</td>
<td>14.2%</td>
<td>6.3%</td>
<td>7.9%</td>
</tr>
<tr>
<td>Children living with other relatives</td>
<td>0.8%</td>
<td>0.8%</td>
<td>3.7%</td>
<td>4.0%</td>
<td>2.1%</td>
<td>2.6%</td>
</tr>
<tr>
<td>Children living with non-relatives</td>
<td>0.4%</td>
<td>0.9%</td>
<td>1.5%</td>
<td>1.2%</td>
<td>1.9%</td>
<td>1.8%</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation:</strong> GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>
<span class="definitions">

<h2>Definitions</h2>
<p><strong>Population under 18 years in households:</strong> Total number of persons age 17 and under living in households.</p>

<p><strong>Children living as head of household:</strong> The percent of the total population under 18 years of age in households who reported being the householder. In most cases, the householder is the person, or one of the people, in whose name the home is owned, being bought, or rented. If there is no such person in the household, any household member 15 years old or over could be designated as the householder.</p>

<p><strong>Children living with mother only:</strong> The percent of the total population under 18 years of age in households who live with their mother, with no husband present.</p>

<p><strong>Children living with father only:</strong> The percent of the total population under 18 years of age in households who live with their father, with no wife present.</p>

<p><strong>Children living with married parents:</strong> The percent of the total population under 18 years of age in households who live with married parents.</p>

<p><strong>Children living with grandparents:</strong> The percent of the total population under 18 years of age in households who live with a grandparent head of household.</p>

<p><strong>Children living with other relatives:</strong> The percent of the total population under 18 years of age in households who live with a head of household who is a relative but not a parent or grandparent. Examples include brother, sister, aunt, cousin, etc.</p>

<p><strong>Children living with non-relatives:</strong> The percent of the total population under 18 years of age in households who live with a head of household who is a non-relative. Examples include foster parent, unmarried partner, housemate, etc.</p>
</span>
</div>
<div id="total_pop" class="neighborhood-data">        
<h2>Elderly in Households<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button></h2>
<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<td></td>
<td colspan="2">Lakeview</td>
<td colspan="2">Orleans Parish</td>
<td colspan="2">United States</td>
</tr>
<tr>
<td>Elderly in households</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
</tr>
</thead>
<tbody>
<tr>
<td>Elderly in households</td>
<td>1,834</td>
<td>516</td>
<td>53,375</td>
<td>36,152</td>
<td>32,998,132</td>
<td>38,810,278</td>
</tr>
<tr>
<td>Living alone</td>
<td>36.1%</td>
<td>30.0%</td>
<td>34.2%</td>
<td>32.9%</td>
<td>29.5%</td>
<td>28.3%</td>
</tr>
<tr>
<td>Living in family households</td>
<td>61.3%</td>
<td>64.0%</td>
<td>62.6%</td>
<td>62.9%</td>
<td>68.0%</td>
<td>68.3%</td>
</tr>
<tr>
<td>Living in nonfamily households</td>
<td>2.6%</td>
<td>6.0%</td>
<td>3.2%</td>
<td>4.2%</td>
<td>2.5%</td>
<td>3.4%</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation:</strong> GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>
<span class="definitions">
<h2>Definitions</h2>
<p><strong>Elderly in households:</strong> Total number of persons age 65 and over living in households.</p>

<p><strong>Living alone:</strong> The percent of the total population age 65 and over in households who live alone.</p>

<p><strong>Living in family households:</strong> The percent of the total population age 65 and over in households who live with one or more people related to him or her by birth, marriage, or adoption.</p>

<p><strong>Living in nonfamily households:</strong> The percent of the total population age 65 and over in households who live with non-relatives. Examples include unmarried partner, housemate, foster child, etc.</p>

</span>
</div>