<div id="pd6_age" class="large-12 columns neighborhood-data">
<h2>Age<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button></h2> 
<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<td></td>
<td colspan="2">Lakeview</td>
<td colspan="2">Orleans Parish</td>
<td colspan="2">United States</td>
</tr>
<tr>
<td class="table-row-title">Age</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
</tr>
</thead>
<tbody>
<tr>
<td class="table-row-title">5 years old and under</td>
<td>7.6%</td>
<td>8.7%</td>
<td>8.4%</td>
<td>7.6%</td>
<td>8.2%</td>
<td>7.9%</td>
</tr>
<tr>
<td class="table-row-title">6-11 years old</td>
<td>6.2%</td>
<td>6.9%</td>
<td>9.2%</td>
<td>6.8%</td>
<td>8.9%</td>
<td>8.0%</td>
</tr>
<tr>
<td class="table-row-title">12-17 years old</td>
<td>6.7%</td>
<td>6.7%</td>
<td>9.1%</td>
<td>6.9%</td>
<td>8.6%</td>
<td>8.2%</td>
</tr>
<tr>
<td class="table-row-title">18-34 years old</td>
<td>21.0%</td>
<td>29.5%</td>
<td>25.9%</td>
<td>29.2%</td>
<td>23.8%</td>
<td>23.2%</td>
</tr>
<tr>
<td class="table-row-title">35-49 years old</td>
<td>26.2%</td>
<td>20.7%</td>
<td>21.9%</td>
<td>19.2%</td>
<td>23.2%</td>
<td>20.7%</td>
</tr>
<tr>
<td class="table-row-title">50-64 years old</td>
<td>13.2%</td>
<td>19.1%</td>
<td>13.8%</td>
<td>19.4%</td>
<td>14.9%</td>
<td>19.0%</td>
</tr>
<tr>
<td class="table-row-title">65-74 years old</td>
<td>7.1%</td>
<td>4.1%</td>
<td>6.0%</td>
<td>6.1%</td>
<td>6.5%</td>
<td>7.0%</td>
</tr>
<tr>
<td class="table-row-title">75-84 years old</td>
<td>8.7%</td>
<td>2.8%</td>
<td>4.2%</td>
<td>3.4%</td>
<td>4.4%</td>
<td>4.2%</td>
</tr>
<tr>
<td class="table-row-title">85 years old and older</td>
<td>3.3%</td>
<td>1.5%</td>
<td>1.5%</td>
<td>1.5%</td>
<td>1.5%</td>
<td>1.8%</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation:</strong> GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>


<span class="definitions">

<h2>Definitions</h2>
<p><strong>5 years old and under:</strong> The percent of the total population that is 5 years old or younger. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>6-11 years old:</strong> The percent of the total population that is 6 to 11 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>12-17 years old:</strong> The percent of the total population that is 12 to 17 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>18-34 years old:</strong> The percent of the total population that is 18 to 34 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>35-49 years old:</strong> The percent of the total population that is 35 to 49 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>50-64 years old:</strong> The percent of the total population that is 50 to 64 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>65-74 years old:</strong> The percent of the total population that is 65 to 74 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>75-84 years old:</strong> The percent of the total population that is 75 to 84 years old. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

<p><strong>85 years old and older:</strong> The percent of the total population that is 85 years old or older. The age classification is based on the age of the person in complete years as of April 1 of the Census year.</p>

</span>
</div>