<div id="pd6_gender" class="large-12 columns neighborhood-data">
<h2>Gender<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button></h2> 
<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<th></th>
<td colspan="2">Lakeview</td>
<th colspan="2">Orleans Parish</th>
<th colspan="2">United States</th>
</tr>
<tr>
<th class="table-row-title">Gender</th>
<th>2000</th>
<th>2010</th>
<th>2000</th>
<th>2010</th>
<th>2000</th>
<th>2010</th>
</tr>
</thead>
<tbody>
<tr>
<td class="table-row-title">Female</td>
<td>54.3%</td>
<td>51.6%</td>
<td>53.1%</td>
<td>51.6%</td>
<td>50.9%</td>
<td>50.8%</td>
</tr>
<tr>
<td class="table-row-title">Male</td>
<td>45.7%</td>
<td>48.4%</td>
<td>46.9%</td>
<td>48.4%</td>
<td>49.1%</td>
<td>49.2%</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation:</strong> GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>

<span class="definitions">

<h2>Definitions</h2>
<p><strong>Female:</strong> The percent of the total population that is female. Individuals were asked to mark either “male” or “female” to indicate their sex.</p>

<p><strong>Male:</strong> The percent of the total population that is male. Individuals were asked to mark either “male” or “female” to indicate their sex.</p>

</span>
</div>
