<div id="total_pop" class="large-12 columns neighborhood-data">        
<h2>Total Population
<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button>
</h2>
<p><strong>What&#8217;s the difference between households and families? </strong>The Census definition of family is people living together who are &#8221;related&#8230; by birth, marriage, or adoption.&#8221; In contrast, the definition of household is &#8221;all the persons who occupy a housing unit.&#8221;</p>

<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<th>Population</th>
<td colspan="2">Lakeview</td>
<th colspan="2">Orleans Parish</th>
<th colspan="2">United States</th>
</tr>
<tr>
<th>Total numbers</th>
<th>2000</th>
<th>2010</th>
<th>2000</th>
<th>2010</th>
<th>2000</th>
<th>2010</th>
</tr>
</thead>
<tbody>
<tr>
<td class="table-row-title">Population</td>
<td>9,875</td>
<td>6,394</td>
<td>484,674</td>
<td>343,829</td>
<td>281,421,906</td>
<td>308,745,538</td>
</tr>
<tr>
<td class="table-row-title">Total households</td>
<td>4,524</td>
<td>2,672</td>
<td>188,251</td>
<td>142,158</td>
<td>105,480,101</td>
<td>116,716,292</td>
</tr>
<tr>
<td class="table-row-title">Family households</td>
<td>2,657</td>
<td>1,566</td>
<td>112,977</td>
<td>76,643</td>
<td>71,787,347</td>
<td>77,538,296</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation</strong>: GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>
<span class="definitions">

<h2>Definitions</h2>
<p><strong>Population:</strong> All people, male and female, child and adult, living in a given geographic area.</p>
<p><strong>Total households:</strong> A household includes all of the people who occupy a housing unit. A housing unit is a house, apartment, or mobile home. The occupants may be a single family, one person living alone, two or more families living together, or any other group of related or unrelated people who share living quarters. People living in group quarters are not considered to be living in households. Group quarters includes institutions such as prisons, military barracks, nursing homes, and juvenile institutions.</p>

<p><strong>Family households:</strong> A family includes a head of household and one or more other people living in the same household who are related to the householder by birth, marriage, or adoption. All people in a household who are related to the householder are regarded as members of his or her family. A household can contain only one family for purposes of census tabulations. Not all households contain families since a household may be a group of unrelated people or one person living alone.
</p></span>

</div>