<div id="total_pop" class="large-12 columns neighborhood-data">        
<h2>Children in Households<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button></h2>
<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<td></td>
<td colspan="2">Lakeview</td>
<td colspan="2">Orleans Parish</td>
<td colspan="2">United States</td>
</tr>
<tr>
<td>Children in households</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
</tr>
</thead>
<tbody>
<tr>
<td>Population under 18 years in households</td>
<td>2,017</td>
<td>1,427</td>
<td>128,785</td>
<td>72,917</td>
<td>71,970,901</td>
<td>73,920,881</td>
</tr>
<tr>
<td>Children living as head of household</td>
<td>0.1%</td>
<td>0.0%</td>
<td>0.1%</td>
<td>0.1%</td>
<td>0.1%</td>
<td>0.1%</td>
</tr>
<tr>
<td>Children living with mother only</td>
<td>15.1%</td>
<td>12.5%</td>
<td>39.2%</td>
<td>39.6%</td>
<td>18.5%</td>
<td>20.0%</td>
</tr>
<tr>
<td>Children living with father only</td>
<td>2.7%</td>
<td>5.7%</td>
<td>4.7%</td>
<td>6.7%</td>
<td>4.9%</td>
<td>6.2%</td>
</tr>
<tr>
<td>Children living with married parents</td>
<td>77.7%</td>
<td>77.4%</td>
<td>35.9%</td>
<td>34.3%</td>
<td>66.2%</td>
<td>61.5%</td>
</tr>
<tr>
<td>Children living with grandparents</td>
<td>3.2%</td>
<td>2.6%</td>
<td>14.9%</td>
<td>14.2%</td>
<td>6.3%</td>
<td>7.9%</td>
</tr>
<tr>
<td>Children living with other relatives</td>
<td>0.8%</td>
<td>0.8%</td>
<td>3.7%</td>
<td>4.0%</td>
<td>2.1%</td>
<td>2.6%</td>
</tr>
<tr>
<td>Children living with non-relatives</td>
<td>0.4%</td>
<td>0.9%</td>
<td>1.5%</td>
<td>1.2%</td>
<td>1.9%</td>
<td>1.8%</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation:</strong> GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>
<span class="definitions">

<h2>Definitions</h2>
<p><strong>Population under 18 years in households:</strong> Total number of persons age 17 and under living in households.</p>

<p><strong>Children living as head of household:</strong> The percent of the total population under 18 years of age in households who reported being the householder. In most cases, the householder is the person, or one of the people, in whose name the home is owned, being bought, or rented. If there is no such person in the household, any household member 15 years old or over could be designated as the householder.</p>

<p><strong>Children living with mother only:</strong> The percent of the total population under 18 years of age in households who live with their mother, with no husband present.</p>

<p><strong>Children living with father only:</strong> The percent of the total population under 18 years of age in households who live with their father, with no wife present.</p>

<p><strong>Children living with married parents:</strong> The percent of the total population under 18 years of age in households who live with married parents.</p>

<p><strong>Children living with grandparents:</strong> The percent of the total population under 18 years of age in households who live with a grandparent head of household.</p>

<p><strong>Children living with other relatives:</strong> The percent of the total population under 18 years of age in households who live with a head of household who is a relative but not a parent or grandparent. Examples include brother, sister, aunt, cousin, etc.</p>

<p><strong>Children living with non-relatives:</strong> The percent of the total population under 18 years of age in households who live with a head of household who is a non-relative. Examples include foster parent, unmarried partner, housemate, etc.</p>
</span>
</div>