<div id="pd6_diversity" class="large-12 columns neighborhood-data">
<h2>Racial & Ethnic Diversity<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button></h2>

<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<td></td>
<td colspan="2">Lakeview</td>
<td colspan="2">Orleans Parish</td>
<td colspan="2">United States</td>
</tr>
<tr>
<td>Racial &amp; ethnic diversity</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
</tr>
</thead>
<tbody>
<tr>
<td>Black or African American</td>
<td>.7%</td>
<td>3.4%</td>
<td>66.6%</td>
<td>59.6%</td>
<td>12.1%</td>
<td>12.2%</td>
</tr>
<tr>
<td>White</td>
<td>94.0%</td>
<td>88.2%</td>
<td>26.6%</td>
<td>30.5%</td>
<td>69.2%</td>
<td>63.7%</td>
</tr>
<tr>
<td>Asian</td>
<td>0.7%</td>
<td>1.3%</td>
<td>2.3%</td>
<td>2.9%</td>
<td>3.6%</td>
<td>4.7%</td>
</tr>
<tr>
<td>American Indian</td>
<td>0.1%</td>
<td>0.2%</td>
<td>0.2%</td>
<td>0.2%</td>
<td>0.7%</td>
<td>0.7%</td>
</tr>
<tr>
<td>Other</td>
<td>0.1%</td>
<td>0.2%</td>
<td>0.2%</td>
<td>0.3%</td>
<td>0.3%</td>
<td>0.4%</td>
</tr>
<tr>
<td>2 race categories</td>
<td>0.7%</td>
<td>0.8%</td>
<td>1.0%</td>
<td>1.3%</td>
<td>1.6%</td>
<td>1.9%</td>
</tr>
<tr>
<td>Hispanic (any race)</td>
<td>3.7%</td>
<td>6.0%</td>
<td>3.1%</td>
<td>5.2%</td>
<td>12.5%</td>
<td>16.3%</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation</strong>: GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>

<span class="definitions">

<h2>Definitions</h2>
<p><strong>Black or African American:</strong> The percent of the total population who indicate they consider their race to be “Black, African Am., or Negro.” This percent does not include African Americans who checked “yes” for Hispanic or who checked “yes” for more than one race. It does include those that wrote in entries such as Afro American, Kenyan, Nigerian, or Haitian.</p>

<p><strong>White:</strong> The percent of the total population who indicate they consider their race to be “White.” This percent does not include whites who checked “yes” for Hispanic or who checked “yes” for more than one race. It does include those that wrote in entries such as English, French, Polish, Lebanese, or Arab.</p>

<p><strong>Asian:</strong> The percent of the total population who indicate they consider their race to be “Asian Indian,” “Chinese,” “Filipino,” “Korean,” “Japanese,” “Vietnamese,” and “Other Asian.” This percent does not include Asians who checked “yes” for Hispanic or who checked “yes” for more than one race. It does include those that wrote in entries such as Thai, Laotian, Pakistani, or Indian.</p>

<p><strong>American Indian:</strong> The percent of the total population who indicate they consider their race to be “American Indian or Alaska Native” or wrote in the name of their Indian tribe. This percent does not include those who checked “yes” for Hispanic or who checked “yes” for more than one race.</p>

<p><strong>Other:</strong> The percent of the total population who indicate they consider their race to only be “Some other race.” It includes those that wrote in entries such as multiracial, mixed, or interracial. Respondents who identified with “Native Hawaiian and Other Pacific Islander” were included in this percentage because the numbers were so few in the greater New Orleans area. This percent does not include those who checked “yes” for Hispanic or who checked “yes” for more than one race.</p>

<p><strong>2 race categories:</strong> The percent of the total population who indicate they consider their race to be a combination of two or more of the following race categories: 1) Black, 2) White, 3) American Indian or Alaska Native, 4) Asian, 5) Native Hawaiian and Pacific Islander, and 6) Some other race. This percent does not include those who checked “yes” for Hispanic.</p>

<p><strong>Hispanic (any race):</strong> The percent of the total population who indicate they consider themselves to be “Mexican, Mexican Am., Chicano,” “Puerto Rican,” “Cuban” or “Other Spanish/Hispanic/Latino.” (The Data Center combined ethnicity data with race data so “Hispanic” is comparable to race categories such as “White.” To avoid double-counting people, anybody who checked “Spanish/Hispanic/Latino” under ethnicity was removed from whatever race category they also checked and put into the new category of “Hispanic or Latino (all races).” So, for example, if someone checked “White” as their race and “Hispanic” as their ethnicity, we removed them from the count of “White” people and included them in our new racial category of “Hispanic or Latino.”)</p>
</span>
</div>

