<div id="pd6_occupancy" class="large-12 columns neighborhood-data">
<h2>Households by Type<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button></h2>

<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<td></td>
<td colspan="2">Lakeview</td>
<td colspan="2">Orleans Parish</td>
<td colspan="2">United States</td>
</tr>
<tr>
<td>Households by type</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
</tr>
</thead>
<tbody>
<tr>
<td>Total households</td>
<td>4,524</td>
<td>2,672</td>
<td>188,251</td>
<td>142,158</td>
<td>105,480,101</td>
<td>116,716,292</td>
</tr>
<tr>
<td>Female householder (no husband present) with children under 18</td>
<td>5.4%</td>
<td>5.1%</td>
<td>17.7%</td>
<td>13.7%</td>
<td>8.4%</td>
<td>8.5%</td>
</tr>
<tr>
<td>Male householder (no wife present) with children under 18</td>
<td>1.1%</td>
<td>2.0%</td>
<td>2.5%</td>
<td>2.7%</td>
<td>2.4%</td>
<td>2.8%</td>
</tr>
<tr>
<td>Married-couple family, with children under 18</td>
<td>19.7%</td>
<td>22.7%</td>
<td>14.8%</td>
<td>11.1%</td>
<td>24.9%</td>
<td>21.7%</td>
</tr>
<tr>
<td>Nonfamily households, with children under 18</td>
<td>0.1%</td>
<td>0.2%</td>
<td>0.3%</td>
<td>0.2%</td>
<td>0.4%</td>
<td>0.3%</td>
</tr>
<tr>
<td>Households with no people under 18 years</td>
<td>73.7%</td>
<td>70.0%</td>
<td>64.7%</td>
<td>72.3%</td>
<td>63.9%</td>
<td>66.6%</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation:</strong> GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>
<span class="definitions">
<h2>Definitions</h2>
<p><strong>Total households:</strong> A household includes all of the people who occupy a housing unit. A housing unit is a house, apartment, or mobile home. The occupants may be a single family, one person living alone, two or more families living together, or any other group of related or unrelated people who share living quarters. People living in group quarters are not considered to be living in households. Group quarters includes institutions such as prisons, military barracks, nursing homes, and juvenile institutions.</p>

<p><strong>Female householder (no husband present) with children under 18:</strong> The percent of total households that consist of a female head of household with children under 18 years of age related to her by birth, marriage (a stepchild), or adoption, with no husband present.</p>

<p><strong>Male householder (no wife present) with children under 18:</strong> The percent of total households that consist of a male head of household with children under 18 years of age related to him by birth, marriage (a stepchild), or adoption, with no wife present.</p>

<p><strong>Married-couple family, with children under 18:</strong> The percent of total households that consist of a married couple with children under 18 years of age related to the head of household by birth, marriage (a stepchild), or adoption.</p>

<p><strong>Nonfamily households, with children under 18:</strong> The percent of total households that consist of a head of household living with children under 18 years of age not related to the head of household by birth, marriage (a stepchild), or adoption.</p>

<p><strong>Households with no people under 18 years:</strong> The percent of total households that have no children under 18 years of age.</p>

</span>

</div>