<div class="large-12 columns neighborhood-data" id="lakeview-intro"> 
<h2><strong>Overview:</strong> People &amp; Household Characteristics</h2>
<p><strong>Which number do you need?</strong> There are many ways to look at household characteristics. To get a more complete perspective, we recommend you take a look at households by type and also view data on the types of households that children and the elderly live in. Note, we have chosen to look at &#8220;households&#8221; rather than &#8220;families&#8221; because of the Census&#8217; narrow definition of &#8220;family.&#8221;</p></br>

<h2>About this Data</h2>
<p>Finding the information you need within long rows of numbers is a tricky task, even under the best of conditions. The task has become harder since the Census Bureau began using a new method for providing important neighborhood data like income, poverty, and educational attainment that is averaged over five years and has large margins of error.</p>
<p>For this reason, we’ve added a variety of notes to these data tables and the definition of each indicator. Our aim is to explain details of the data that are sometimes misleading and to point you to additional information that you may find useful for program planning and grantwriting.</p>
</div>