<div id="total_pop" class="large-12 columns neighborhood-data">        
<h2>Elderly in Households<button type="button" id="dl_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user download the table with attribution.')">
  <span class="glyphicon glyphicon-download"></span>
</button>
<button type="button"  id="sh_but" class="btn btn-default btn-xs" onClick="alert('This button lets the user share the table with attribution.')">
  <span class="glyphicon glyphicon-share"></span>
</button></h2>
<table border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<td></td>
<td colspan="2">Lakeview</td>
<td colspan="2">Orleans Parish</td>
<td colspan="2">United States</td>
</tr>
<tr>
<td>Elderly in households</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
<td>2000</td>
<td>2010</td>
</tr>
</thead>
<tbody>
<tr>
<td>Elderly in households</td>
<td>1,834</td>
<td>516</td>
<td>53,375</td>
<td>36,152</td>
<td>32,998,132</td>
<td>38,810,278</td>
</tr>
<tr>
<td>Living alone</td>
<td>36.1%</td>
<td>30.0%</td>
<td>34.2%</td>
<td>32.9%</td>
<td>29.5%</td>
<td>28.3%</td>
</tr>
<tr>
<td>Living in family households</td>
<td>61.3%</td>
<td>64.0%</td>
<td>62.6%</td>
<td>62.9%</td>
<td>68.0%</td>
<td>68.3%</td>
</tr>
<tr>
<td>Living in nonfamily households</td>
<td>2.6%</td>
<td>6.0%</td>
<td>3.2%</td>
<td>4.2%</td>
<td>2.5%</td>
<td>3.4%</td>
</tr>
</tbody>
</table>
<div class="source">
<p><strong>Source Citation:</strong> GNOCDC analysis of data from U.S. Census 2000 Summary File 1 (SF1) and U.S. Census 2010 Summary File 1 (SF1)</p>
</div>
<span class="definitions">
<h2>Definitions</h2>
<p><strong>Elderly in households:</strong> Total number of persons age 65 and over living in households.</p>

<p><strong>Living alone:</strong> The percent of the total population age 65 and over in households who live alone.</p>

<p><strong>Living in family households:</strong> The percent of the total population age 65 and over in households who live with one or more people related to him or her by birth, marriage, or adoption.</p>

<p><strong>Living in nonfamily households:</strong> The percent of the total population age 65 and over in households who live with non-relatives. Examples include unmarried partner, housemate, foster child, etc.</p>

</span>
</div>